%h1 Welcome to the Mortuary

%p Within this site you will find the means to collaboratively write short stories with the help of complete strangers. 

%p Here's how it works: Create an account. Then start a new corpse, or contribute to an existing one. Each time you add to a corpse, you'll be prompted with the last few words of the story so far. You can then add up too 300 characters worth of text to be appended to the corpse.
