%h1 Welcome to the Mortuary

%p Within this site you will find the means to collaboratively write short stories with the help of complete strangers. 

%p From Wikipedia.org: Exquisite corpse, also known as exquisite cadaver (from the original French term cadavre exquis) or rotating corpse, is a method by which a collection of words or images is collectively assembled. Each collaborator adds to a composition in sequence, either by following a rule (e.g. "The adjective noun adverb verb the adjective noun") or by being allowed to see the end of what the previous person contributed.
= link_to "(Wikipedia Article)", "http://en.wikipedia.org/wiki/Exquisite_corpse"

%p Here's how it works: Create an account. Then start a new corpse, or contribute to an existing one. Each time you add to a corpse, you'll be prompted with the last few words of the story so far. You can then add up too 300 characters worth of text to be appended to the corpse. Once the corpse has reached a length of at least 3,000 characters, it is forever frozen, and placed on display in the Morgue. 
