/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
  font-family: Courier;
  color: #333333;
  background-color: beige;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

#navbar ul li {
  display:inline
}

#navbar a {
  text-decoration: none;
  font-family: Courier;
  color: #333333;
  margin-right: 25px;
}

ul {
  list-style-type: none;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.corpse {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.small {
  font-size: .75em;
}

#like-button a {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px;
}
